@using SampleEntityFramework.SchoolWeb.Extensions

@model SampleEntityFramework.DomainModels.Courses.CourseDetailsModel

@{
    ViewBag.Title = "Course - " + Model.Details.Title + " [" + Model.Details.CourseId + "]";
}

<h2>Course <small>@Model.Details.Title [@Model.Details.CourseId]</small></h2>
<p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.Details.CourseId })</p>
<p>Credits: @Model.Details.Credits</p>

<section>
    <header><h3>Students</h3></header>

    @if (Model.Data.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.Data)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Detail", "Student", new {Id = student.StudentId})">@student.LastName, @student.FirstName</a> [@student.StudentId]
                        </td>
                        <td>@student.Grade</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No students registered for this course.</p>
    }

    @Html.Pagination(Model, "Detail", "Course")

</section>
