@using SampleEntityFramework.DomainModels.Courses
@using SampleEntityFramework.SchoolWeb.Extensions

@model CoursesModel

@{
    ViewBag.Title = "Courses";
}

<section>
    <header>
        <h2>Courses</h2>
        <p>@Html.ActionLink("Register Course", "Create")</p>
    </header>

    @if (Model.Data.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Students</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model.Data)
                {
                    <tr>
                        <td><a href="@Url.Action("Detail", new {Id = course.CourseCode})">@course.Title</a></td>
                        <td>@course.CourseCode</td>
                        <td>@course.Credits</td>
                        <td>@course.EnrollmentCount</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No courses registered.</p>
    }

    @Html.Pagination(Model, "Index", "Course")

</section>
