@using SampleEntityFramework.SchoolWeb.Extensions

@model SampleEntityFramework.DomainModels.Students.StudentDetailsModel

@{
    ViewBag.Title = "Student - " + Model.Details.LastName + ", " + Model.Details.FirstName;
}

<h2>Student <small>@Model.Details.LastName, @Model.Details.FirstName</small></h2>
<p>@Html.ActionLink("Edit Student", "Edit", new { id = Model.Details.StudentId })</p>
<p>Enrollment Date: @Model.Details.EnrollmentDate.ToShortDateString()</p>

<section>
    <header><h3>Courses</h3></header>

    @if (Model.Data.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Course Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model.Data)
                {
                    <tr>
                        <td><a href="@Url.Action("Detail", "Course", new {Id = course.CourseCode})">@course.Title</a></td>
                        <td>@course.CourseCode</td>
                        <td>@course.Credits</td>
                        <td>@course.Grade</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No courses registered for this student.</p>
    }

    @Html.Pagination(Model, "Detail", "Student")

</section>
