@using SampleEntityFramework.DomainModels.Courses
@using SampleEntityFramework.SchoolWeb.Models

@model SampleEntityFramework.DomainModels.Students.StudentDetailsModel

@{
    ViewBag.Title = "Student - " + Model.Details.LastName + ", " + Model.Details.FirstName + " [" + Model.Details.StudentId + "]";
    var pagination = new PaginationViewModel<CourseEnrollmentListModel>
    {
        Action = "Detail",
        Controller = "Student",
        Data = Model,
    };
}

<h2>Student <small>@Model.Details.LastName, @Model.Details.FirstName [@Model.Details.StudentId]</small></h2>
<p>@Html.ActionLink("Edit Student", "Edit", new { id = Model.Details.StudentId })</p>
<p>Enrollment Date: @Model.Details.EnrollmentDate.ToShortDateString()</p>

<section>
    <header><h3>Courses</h3></header>

    @if (Model.Data.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Credits</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model.Data)
                {
                    <tr>
                        <td><a href="@Url.Action("Detail", "Course", new {Id = course.CourseId})">@course.Title</a> [@course.CourseId]</td>
                        <td>@course.Credits</td>
                        <td>@course.Grade</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No courses registered for this student.</p>
    }

    @Html.Partial("_Pagination", pagination)
</section>
