@model SampleEntityFramework.DataAccess.Commands.Students.EditStudentCommand

@{
    var isCreating = Model.StudentId == 0;
    ViewBag.Title = isCreating
        ? "Register Student"
        : "Editing Student - " + Model.LastName + ", " + Model.FirstName;
}

@if (isCreating)
{
    <h2>Register Student</h2>
}
else
{
    <h2>Editing Student <small>@Model.LastName, @Model.FirstName</small></h2>
}

@using (Html.BeginForm("Update", "Student", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(s => s.StudentId)

    <div class="form-field">
        @Html.LabelFor(s => s.FirstName)
        @Html.TextBoxFor(s => s.FirstName)
        @Html.ValidationMessageFor(s => s.FirstName)
    </div>
    <div class="form-field">
        @Html.LabelFor(s => s.LastName)
        @Html.TextBoxFor(s => s.LastName)
        @Html.ValidationMessageFor(s => s.LastName)
    </div>
    <div class="form-field">
        @Html.LabelFor(s => s.EnrollmentDate)
        @Html.TextBoxFor(s => s.EnrollmentDate, new { Value = Model.EnrollmentDate.ToShortDateString() })
        @Html.ValidationMessageFor(s => s.EnrollmentDate)
    </div>
    <div class="form-actions">
        <button type="submit">@(isCreating ? "Register" : "Update")</button>
        @(isCreating
            ? Html.ActionLink("Cancel", "Index")
            : Html.ActionLink("Cancel", "Detail", new { id = Model.StudentId }))
    </div>
}
