@using SampleEntityFramework.DomainModels.Students
@using SampleEntityFramework.SchoolWeb.Extensions

@model StudentsModel

@{
    ViewBag.Title = "Students";
}

<section>
    <header>
        <h2>Students</h2>
        <p>@Html.ActionLink("Register Student", "Create")</p>
    </header>

    @if (Model.Data.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Enrollment Date</th>
                    <th>Courses</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.Data)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Detail", "Student", new {Id = student.StudentId})">@student.LastName, @student.FirstName</a> [@student.StudentId]
                        </td>
                        <td>@student.EnrollmentDate.ToShortDateString()</td>
                        <td>@student.EnrollmentCount</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No students registered.</p>
    }

    @Html.Pagination(Model, "Index", "Student")

</section>
